body{
    margin: auto;
    width: 700px;
    text-align: center;
}

#container{
    background-color: rgb(255, 233, 237);
    border-radius: 50px;
    padding: 10px;
}
    
li{
    text-decoration: none;
    list-style: none;
    border: black 2px solid;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

header li a {
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18pt;
    padding: 5px;
    margin-left: 5px;
    background-color: rgb(255, 212, 219);
    color: black;
}

button {
    cursor: pointer;
}